.searchContainer
  display: flex
  .resultsLabel
    font-style: normal
    font-weight: bold
    font-size: 28px
    line-height: 33px    
    color: #4372EB
    margin: 52px 137px 0 48px
    margin-top: 52px
    margin-right: 137px

.resultsContainer
  .result
    display: flex
    flex-flow: row wrap

    //align-items: start
    justify-content: space-between
    padding: 34px 12px 44px 12px
    margin: 5px auto
    width: 88vw
    box-sizing: border-box
    border-style: solid
    border-color: #C4C4C4
    border-width: 1px 0 0 0
    &:nth-child(1)
      border: none

    .title
      width: 100%
      text-align: left
      font-size: 22px
      line-height: 26px
      color: #464545
      margin-bottom: 14px

    a.more
      font-size: 22px
      line-height: 26px
      color: #4372EB
      text-decoration: none
      &:hover
        text-decoration: underline
      &:visited
        color: #45009e

    .price
      font-weight: bold
      font-size: 28px
      line-height: 33px
      color: #464545
      &:after
        content: "₽"
