.company
  position: relative
  width: 25vw
  height: 270px
  margin: 30px

  display: flex
  justify-content: center
  align-items: center
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  border: 5px solid #005894
  box-sizing: border-box
  &.selected
    border: none
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(163, 195, 217, 0.359399) 4.69%, rgba(116, 164, 197, 0.544896) 24.48%, rgba(74, 136, 179, 0.710734) 41.67%, rgba(36, 111, 163, 0.859649) 66.15%, #005894 89.06%)
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  &.notSelected
    background: #F0F1F2
    color: #C2C7DE
    border: none
    box-shadow: none
  &.danger
    color: white
    background: #EF2121
    border: none
    box-shadow: none
  &.green
    background: linear-gradient(180deg, rgba(24, 174, 0, 0) 0%, rgba(24, 174, 0, 0.244792) 4.69%, rgba(24, 174, 0, 0.847308) 67.19%, #18AE00 100%)
    border: 1px solid #FFFFFF
    box-sizing: border-box
    color: black

  .name
    position: absolute
    top: 36px
    left: 34px
    text-align: left
    font-weight: 500
    font-size: 21px
    line-height: 25px
    box-sizing: border-box
    img
      position: relative
      left: 11px
      &.danger
        height: 21px
        top: 3px
      &.suspicious
        height: 17px
        top: 2px
      &.perfect
        height: 12.48px
        top: 0px

  .price
    font-weight: 500
    font-size: 64px
    line-height: 75px

  &.danger:hover, &.suspicious:hover
    border: none
    box-shadow: none
    .info
      opacity: 1
      transition: all 100ms ease-in-out
  .info
    transition: all 100ms ease-in-out
    opacity: 0
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    background: white
    color: black
    text-align: left
    box-sizing: border-box
    padding-left: 10px
    div
      font-size: 14px
      line-height: 16px
      margin-bottom: 10px
      img
        position: relative
        top: 3px
        margin-right: 8px

