.wrapper
  background: #F3F3F3
  border-radius: 20px
  width: 95vw
  margin: 20px auto
  padding: 18px 0 21px 0

  .searchLine
    display: grid
    grid-template-columns: 1fr 518px 1fr
    grid-template-areas: "label input ."

    .label
      grid-area: label
      color: #4372EB
      font-size: 28px
      line-height: 33px

    .input
      grid-area: input
      input[type='text']
        width: 100%
        height: 40px
        border: none
        background: white
        font-size: 22px
        line-height: 26px
        padding: 7px 12px
        box-sizing: border-box
        color: black
        outline: none
        &::placeholder
          color: #C4C4C4

  .method
    display: flex
    justify-content: center
    margin-top: 44px

    .label
      font-size: 22px
      line-height: 26px
      padding-right: 80px

    select
      background: white
      outline: none
      border: none
      border-radius: 0
      font-size: 22px
      line-height: 26px
      padding: 8px 22px

  .checkboxes
    font-size: 22px
    line-height: 26px
    display: flex
    flex-direction: column
    align-items: center

    div
      width: 300px
      margin-bottom: 16px
      text-align: left

      label
        padding-left: 10px

  .searchBtn
    background: #4372EB
    border-radius: 20px

    font-size: 28px
    line-height: 33px

    color: white

    height: 88px
    width: 318px

    border: none
    cursor: pointer

.contractPrice, .contractPeriod
  display: flex
  flex-direction: column
  align-items: center
  margin: 35px 0

  .label
    font-size: 22px
    line-height: 26px

  .inputRange
    margin: 30px 0

    position: relative
    top: -10px

    display: grid
    grid-template-areas: "min . max" ". track ."
    grid-template-columns: 1fr 422px 1fr
    grid-template-rows: 30px auto

  .track
    grid-area: track
    position: relative
    width: 422px
    background: rgba(67, 114, 235, 0.56)
    height: 7px
    border-radius: 7px

  .slider
    position: absolute
    top: -8px
    left: -12px
    width: 24px
    height: 24px
    background: #4372EB
    border-radius: 22px

  .valueLabel
    position: absolute
    top: 20px
    font-size: 15pt

  .minLabel, .maxLabel
    font-size: 15pt

  .minLabel
    grid-area: min

  .maxLabel
    grid-area: max
    &:after
      content: " ₽"

.contractPeriod
  .maxLabel
    &:after
      content: " дней"

.auction, .competition
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 20px 0

  div
    font-size: 22px
    line-height: 26px
    margin: 10px 20px

    label
      margin-left: 8px
