.wrapper
  display: flex
  justify-content: center
  margin-left: 5vw

  .companies
    display: flex
    flex-flow: row wrap

    //margin: 0 0
    justify-content: flex-start

.next
  font-size: 24pt
  padding: 10px 20px
  background: #005894
  color: white
  border: none
  border-radius: 20px
  cursor: pointer
  outline: none
