.searchLine
  position: relative
  border: none
  width: 612px
  height: 52px
  margin-top: 43px

  input[type='text']
    width: 612px
    box-sizing: border-box
    font-size: 28px
    border: 1px solid #c4c4c4
    padding: 9px 10px 9px 70px
    outline: none
    &:hover, &:focus
      box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28)
      border-color: rgba(223,225,229,0)

  .searchBtn
    position: absolute
    left: 25px
    top: 12px
    //background: #bfd9ff
    background: transparent
    height: 35px
    width: 35px
    font-size: 13pt
    border: none
    border-radius: 0 50px 50px 0
    cursor: pointer
    text-align: left
    box-sizing: border-box
    color: #c4c4c4
    padding: 0

    svg
      height: 35px
      color: #c4c4c4
      fill: currentColor
