.header
  box-sizing: border-box  
  height: 126px
  padding: 0 5vw

  background: linear-gradient(0deg, #4372EB, #4372EB)

  display: flex
  justify-content: space-between
  align-items: center

  .logo
    font-size: 21pt
    img
      position: relative
      top: 3px
      height: 40px

  .headerButtons
    button
      border: none
      background: #f5f5f5
      border-radius: 20px
      padding: 10px 20px
      font-size: 12pt
      margin-left: 10px
      cursor: pointer

      &:hover
        background: #ededed

  .region
    color: white
    cursor: pointer
    font-size: 22px
    line-height: 26px
    &:hover
      .current
        border-color: white
        transition: all 100ms ease-in-out

    .current
      padding-bottom: 1px
      border-color: rgba(255, 255, 255, .6)
      border-style: dotted
      border-width: 0 0 1px 0
      transition: all 100ms ease-in-out
