.centerAll
    display: flex
    justify-content: center
    align-items: center

.main
  display: flex
  flex-direction: column
  align-items: center
  background: url('img/bg.jpg')
  background-size: cover  

  .search
    margin-top: 174px           

  .advancedSearch
    color: #e5e5e5
    margin-top: 12px
    text-decoration: none
  
  .searchBtn
    background: #4372EB
    background-position: center
    background-size: 100%
    border-radius: 20px
    border: none
    width: 318px
    height: 88px
    color: #ffffff
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 28px
    line-height: 33px
    margin-top: 80px
    margin-bottom: 348px
    cursor: pointer
    @extend .centerAll


    


        